.react-player__play-icon {
   border-width: 0 !important;
   margin: 0 !important;
   width: 85px;
   height: 85px;
   border-radius: 50%;
   background-color: #efefef;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   opacity: 1;
   position: relative;
}

.react-player__play-icon:before {
   color: black;
   content: "Play";
   font-size: 20px;
   position: absolute;
}

.react-player__play-icon:hover {
   opacity: .5;
   transition: opacity 0.3s ease-in-out;
   cursor: pointer;
   background-color: #ddd;
}

.react-player__shadow {
   width: 100px !important;
   height: 100px !important;
}

.show-hide-button {
   top: 5%;
   left: 50%;
   transform: translateX(-50%);
   /*opacity: 0;*/

   /*animation: showExitBtn 2s;*/
}

.showExitButton {
   opacity: 1;
   /*animation: showExitBtn 2s;*/
}

.hideExitButton {
   opacity: 0;
   /*animation: showExitBtn 2s;*/
}

.player-container__darken {
   background-color: #000000;
}

@keyframes showExitBtn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}